body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 200px;
}

.webtitle{
    font-size: 24px;
    font-weight: bold;
}

.nav li{
    list-style: none;
}

ul.nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 24px;
    margin-right: 16px;
}

a,
.welcomesubtext{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-size: 18px;
    font-weight: 100;
}

.welcometext{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    width: 40%;
}

.welcome{
    display: flex;
    justify-content: center;
    background-color: #1F2937 ;
    padding: 50px 200px;
    gap: 40px;
}

.welcometitle{
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
}

.welcomeimage{
    width: 40%;
    height: auto;
}

.signupbutton{
    margin-top:30px;
    margin-bottom:30px;
    background-color: #3882F6;
    margin-right: auto;
    padding: 10px 50px;
    border-radius: 13px;
}