body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 200px;
}

.webtitle{
    font-size: 24px;
    font-weight: bold;
}

.nav li{
    list-style: none;
}

ul.nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 24px;
    margin-right: 16px;
}

a,
.welcomesubtext{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-size: 18px;
    font-weight: 100;
}

.welcometext{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    width: 40%;
}

.welcome{
    display: flex;
    justify-content: center;
    background-color: #1F2937 ;
    padding: 50px 200px;
    gap: 40px;
}

.welcometitle{
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
}

.welcomeimage{
    width: 40%;
    height: auto;
}

.signupbutton{
    margin-top:30px;
    margin-bottom:30px;
    background-color: #3882F6;
    margin-right: auto;
    padding: 10px 50px;
    border-radius: 13px;
}

.informationcontainer{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
}

.infoheader{
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.infocards{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.infoimg{
    width: 250px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.quotecontainer{
    background-color: #E5E7EB;
    padding: 150px 500px;
}

.quotecontent{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
}

.quotecredit{
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 700;
    font-size: 24px;
}

.calltoactioncontainer{
    margin: 75px auto;
    padding: 50px 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: #3882F6; 
    justify-content: center;
    gap: 500px;
}

.calltoactiontext{
    display: flex;
    flex-direction: column;

}

.calltoactiontitle,
.calltoactiontext{
    color: #F9FAF8;
    margin: 0%;
    padding: 0;
}

.calltoactionbutton{
    border: 2px solid #E5E7EB;
    padding: 7px 40px;
    border-radius: 5px;
}

.footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 200;
}

#Coins g{
    opacity: 0;
    animation: dropIn 8s ease forwards infinite;
    animation-delay: calc((var(--order) * 200ms)) ;
}

@keyframes dropIn {
    20%{
        opacity: 0;
        transform: translateY(-50%);
    }

    30%, 100% {
        opacity: 1;
        transform: translateY(0);
    }